@use '@angular/material' as mat;
@use 'sass:map';

@import '../../styles/theme';

.mat-button-toggle {
  background-color: mat.get-color-from-palette($my-primary, 300);
  color: mat.get-color-from-palette($my-primary, '300-contrast');

  &:hover {
    background-color: mat.get-color-from-palette($my-primary, '300-contrast');
    color: mat.get-color-from-palette($my-primary, 300);
  }
}

.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette($my-primary, 500);
  color: mat.get-color-from-palette($my-primary, '500-contrast');

  &:hover {
    background-color: mat.get-color-from-palette($my-primary, '500-contrast');
    color: mat.get-color-from-palette($my-primary, 500);
  }
}
