<div mat-dialog-content>
  <mat-button-toggle-group name="value" aria-label="value" [value]="data">
    <mat-button-toggle [mat-dialog-close]="undefined">
      &empty;
    </mat-button-toggle>
    <mat-button-toggle *ngFor="let cell of [1,2,3,4,5,6,7,8,9]"
                       [value]="cell"
                       [mat-dialog-close]="cell">
      {{cell}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
