@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$deep-purple-palette);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-typography: mat.define-typography-config();

$edit-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  ),
  typography: $my-typography
));
