<!-- Use *ngIf directive to deal with initial null of async pipe. -->
<div *ngIf="(sudokuService.getSudoku() | async) as cells">
  <mat-toolbar color="primary" class="toolbar">

    <button mat-icon-button aria-label="Menu icon button" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sudokuService.delete()">
        <mat-icon color="primary">delete</mat-icon>
        <span>Delete</span>
      </button>

      <button mat-menu-item (click)="sudokuService.reset()">
        <mat-icon color="primary">restart_alt</mat-icon>
        <span>Reset</span>
      </button>

      <button mat-menu-item (click)="sudokuService.solveOneMove()">
        <mat-icon color="primary">auto_fix_normal</mat-icon>
        <span>Solve one move</span>
      </button>

      <button mat-menu-item (click)="sudokuService.solve()">
        <mat-icon color="primary">auto_fix_high</mat-icon>
        <span>Solve completely</span>
      </button>

      <button mat-menu-item (click)="showHints = !showHints">
        <mat-icon color="primary">info</mat-icon>
        <span>Show hints</span>
        <mat-checkbox [disabled]="true" [checked]="showHints" color="primary"></mat-checkbox>
      </button>

      <button mat-menu-item (click)="showJson = !showJson">
        <mat-icon color="primary">data_object</mat-icon>
        <span>JSON</span>
        <mat-checkbox [disabled]="true" [checked]="showJson" color="primary"></mat-checkbox>
      </button>
    </mat-menu>

    <div class="toolbar-title-container" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-icon>extension</mat-icon>
      <span>Ng Sudoku Solver</span>
    </div>

  </mat-toolbar>

  <div class="app-content" fxLayout fxLayoutAlign="center">
    <ngs-sudoku [cells]="cells" [showCandidates]="showHints" [printMode]="printMode"></ngs-sudoku>
  </div>

  <div *ngIf="showJson" fx>{{ sudokuService.getSimpleJSON() }}</div>
</div>
