@use '@angular/material' as mat;
@use 'sass:map';

@import '../styles/theme';

:host {
  display: block;
  height: 100%;
}

.toolbar {
  position: relative;
}

.toolbar-title-container {
  position: absolute;
  left: 50%;
  right: 50%;
}

.app-content {
  padding: 10px;
}

mat-checkbox {
  margin: 0 16px;
}

