@use '@angular/material' as mat;
@use 'sass:map';

@import '../../styles/theme';

.sudoku-container {
  background-color: mat.get-color-from-palette($my-primary, 100);
  display: inline-grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  grid-gap: 0px;

  &.showCandidates div {
    background-color: white;
    position: relative;
    width: 100%;
  }

  &.showCandidates span.candidates {
    background-color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 0px;
    font-size: 11px;
  }

  &.showCandidates button.mat-icon-button {
    font-size: 28px;
    width: 75px;
    height: 75px;
  }

  &>div.borderRight {
    border-right: 1px solid mat.get-color-from-palette($my-primary, 500);
  }

  &.showCandidates>div.borderRight {
    border-right: 5px solid mat.get-color-from-palette($my-primary, 500);
  }

  &>div.borderBottom {
    border-bottom: 1px solid mat.get-color-from-palette($my-primary, 500);
  }

  &.showCandidates>div.borderBottom {
    border-bottom: 5px solid mat.get-color-from-palette($my-primary, 500);
  }

  &>div.borderLeft {
    border-left: 1px dashed mat.get-color-from-palette($my-primary, 500);
  }

  &.showCandidates>div.borderLeft {
    border-left: 3px dashed mat.get-color-from-palette($my-primary, 500);
  }

  &>div.borderTop {
    border-top: 1px dashed mat.get-color-from-palette($my-primary, 500);
  }

  &.showCandidates>div.borderTop {
    border-top: 3px dashed mat.get-color-from-palette($my-primary, 500);
  }
}

.value-chooser-panel .mat-dialog-container {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
