<div class="sudoku-container" [ngClass]="{showCandidates: showCandidates || printMode}">
  <div *ngFor="let cell of cells" [ngClass]="createCellCSS(cell)">
    <button mat-icon-button (click)="chooseValue(cell)">{{cell.value}}</button>
    <span class="candidates" *ngIf="showCandidates">{{cell.possibleValues}}</span>
  </div>
</div>
